#!/usr/bin/env bash
set +e
if [[ ${HOSTNAME} = ShagBox && -n "${SSH_CLIENT}" || -n "${SSH_TTY}" ]]; then
    exit() {
        echo -n "You're connected via ssh. Are you sure you want to exit? [y/N]: "
        read -n 1 yorn
        case ${yorn} in
            y|Y) command exit;;
            n|N) echo -e "\nNot exiting."
        esac
    }
fi

pacman_search() {
  pacman -Qq | grep ${1}
}

reposync() {
    time schedtool -B -n 1 -e ionice -n 1 repo sync -j$(($(nproc --all)*2-1)) --no-clone-bundle --prune --no-tags -q "$@"
}

grive() {
    if [[ $# = 0 ]]; then
        command grive -p /android/gdrive
        return
    else
        command grive "$@"
        return
    fi
}
