#!/usr/bin/env bash

error() {
    NUM=$((${#1}+7))
    printf '=%.0s' $(seq $NUM)
    printf "\n${RED}ERROR:${REST} $1\n"
    printf '=%.0s' $(seq $NUM)
    printf '\n'
}

warn() {
    NUM=$((${#1}+9))
    printf '=%.0s' $(seq $NUM)
    printf "\n${YELLOW}WARNING:${REST} $1\n"
    printf '=%.0s' $(seq $NUM)
    printf '\n'
}

if [[ ${HOSTNAME} = ShagBox && -n "${SSH_CLIENT}" || -n "${SSH_TTY}" ]]; then
    exit() {
        echo -n "You're connected via ssh. Are you sure you want to exit? [y/N]: "
        read -n 1 yorn
        case ${yorn} in
            y|Y) command exit;;
            n|N) echo -e "\nNot exiting."
        esac
    }
fi

reposync() {
    time schedtool -B -n 1 -e ionice -n 1 repo sync -j$(($(nproc --all)*2-1)) --no-clone-bundle --prune --no-tags -q "$@"
}

grive() {
    if [[ $# = 0 ]]; then
        command grive -p /android/gdrive
        return
    else
        command grive "$@"
        return
    fi
}

build_carbon() {
    . build/envsetup.sh
    for i in sailfish marlin; do
        lunch carbon_$i-userdebug
        make carbon -j6 || { error "$i Build failed, aborting all builds."; return 1; }
        cp out/target/product/$i/$(ls CARBON-CR-7.0-TBA*.zip | sort | tail -n 1) /android/gdrive/Roms/Carbon/TestBuilds/
    done
}
