#!/usr/bin/env bash

err() {
    NUM=$((${#1}+7))
    printf '=%.0s' $(seq $NUM)
    printf "\n${RED}ERROR:${REST} $1\n"
    printf '=%.0s' $(seq $NUM)
    printf '\n'
}

warn() {
    NUM=$((${#1}+9))
    printf '=%.0s' $(seq $NUM)
    printf "\n${YELLOW}WARNING:${REST} $1\n"
    printf '=%.0s' $(seq $NUM)
    printf '\n'
}

if [[ ${HOSTNAME} = ShagBox && -n "${SSH_CLIENT}" || -n "${SSH_TTY}" ]]; then
    exit() {
        echo -n "You're connected via ssh. Are you sure you want to exit? [y/N]: "
        read -n 1 yorn
        case ${yorn} in
            y|Y) command exit;;
            n|N) echo -e "\nNot exiting."
        esac
    }
fi

reposync() {
    time schedtool -B -n 1 -e ionice -n 1 repo sync -j$(($(nproc --all)*2-1)) --no-clone-bundle --prune --no-tags -q "$@"
}

grive() {
    if [[ $# = 0 ]]; then
        command grive -p /android/gdrive
        return
    else
        command grive "$@"
        return
    fi
}

build_carbon() {
    . build/envsetup.sh
    for i in sailfish marlin; do
        lunch carbon_$i-userdebug
        tg_bot "Starting Carbon build for $i"
        if ! make carbon -j6; then
            err "$i Build failed, aborting all builds."
            tg_bot "Carbon build for $i failed, so all builds were stopped."
            return 1
        else
            tg_bot "Carbon build for $i successful!"
        fi
        (
            cd out/target/product/$i
            cp $(ls CARBON-CR-7.0-TBA*.zip | sort | tail -n 1) /android/gdrive/Public/CarbonTEST
        )
        grive -p /android/gdrive
    done
}

reinit_mouse() {
    sudo modprobe -r elan_i2c
    sudo modprobe elan_i2c
    sleep .5
    sudo xinput set-prop "Elan Touchpad" "libinput Middle Emulation Enabled" 1
    sudo xinput set-prop "Elan Touchpad" "libinput Natural Scrolling Enabled" 1
    sudo xinput set-prop "Elan Touchpad" "libinput Tapping Enabled" 1
}

sftpdl() {
    sftp -oPort=$(sed -n 2p ${HOME}/.sshconf) $(sed -n 1p ${HOME}/.sshconf):"$1" "$(basename $1)"
}
