*
!.bash_profile
!.bashrc
!.compton.conf
!.git-completion.bash
!.gitconfig
!.gitignore
!.package-list
!.shagbookstart
!.tmux.conf
!.Xresources
!.vimrc

!.bin/
!.bin/apktool.jar
!.bin/brightness
!.bin/batteryprompt.py
!.bin/build_bl
!.bin/colors
!.bin/deldog
!.bin/elapsed
!.bin/getimages
!.bin/ngrok
!.bin/prompt
!.bin/reinit_mouse
!.bin/shagfetch
!.bin/tg_bot
!.bin/trythree
!.bin/volume

!.config/
!.config/i3
!.config/i3/*
!.config/dunst
!.config/dunst/*
!.config/polybar
!.config/polybar/*
!.config/xfce4/
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc

!.vim/
!.vim/**/*
.vim/.netrwhist
