[submodule ".vim/plugged/papercolor-theme"]
	path = .vim/plugged/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule ".vim/pack/vendor/start/VimCompletesMe"]
	path = .vim/pack/vendor/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
[submodule ".vim/plugged/vim-clang-format"]
	path = .vim/plugged/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
