*
!.compton.conf
!.gitconfig
!.gitignore
!.tmux.conf
!.xinitrc
!.vimrc
!.zshrc
!.zprofile

!.bin/
!.bin/apktool.jar
!.bin/brightness
!.bin/custom_dmenu
!.bin/deldog
!.bin/dunstrc_update
!.bin/getimages
!.bin/lemonbar_wrapper
!.bin/lemonbar_utils.c
!.bin/meminfo.c
!.bin/vim
!.bin/reinit_mouse
!.bin/tg_bot
!.bin/volume

!.config/
!.config/alacritty/
!.config/alacritty/*
!.config/bspwm/
!.config/bspwm/*
!.config/dunst/
!.config/dunst/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/indent/
!.config/nvim/indent/*
!.config/sxhkd/
!.config/sxhkd/*

!.icons/
!.icons/default/
!.icons/default/index.theme

!.sysd/
!.sysd/*

!.termux/
!.termux/*

!Walls/
!Walls/*
