*
!.compton.conf
!.gitconfig
!.gitignore
!.tmux.conf
!.xinitrc
!.vimrc
!.zshrc
!.zprofile

!.bin/
!.bin/apktool.jar
!.bin/batteryprompt.py
!.bin/brightness
!.bin/build_bl
!.bin/deldog
!.bin/elapsed
!.bin/getimages
!.bin/reinit_mouse
!.bin/shagfetch
!.bin/tg_bot
!.bin/trythree
!.bin/volume

!.config/
!.config/xfce4/
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc

!.vim/
!.vim/**/*
.vim/.netrwhist
