[user]
	email = sh4gbag913@gmail.com
	name = shagbag913
[credential]
	helper = cache --timeout=9999999
[gpg]
	program = gpg2
[push]
	gpgSign = if-asked
[commit]
	gpgsign = true
[color]
	ui = auto
[alias]
	aa = add --all
	ap = add --all --patch
	c = commit --gpg-sign --signoff
	ca = commit --gpg-sign --amend --signoff
	cad = commit --gpg-sign --amend --date=now --signoff
	cl = clean -fxd
	cp = cherry-pick --gpg-sign --signoff
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cpe = cherry-pick --edit --signoff
	f = fetch
	m = merge --log=1000
	ma = merge --abort
	mc = merge --continue
	p = push
	s = status
	r = revert
[review "review.carbonrom.org"]
	username = shagbag913
	email = sh4gbag913@gmail.com
[submodule]
	recurse = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
