[user]
	email = sh4gbag913@gmail.com
	name = shagbag913
[credential]
	helper = cache --timeout=9999999
[gpg]
	program = gpg2
[push]
	gpgSign = if-asked
[commit]
	gpgsign = true
[color]
	ui = auto
[review "review.carbonrom.org"]
	username = shagbag913
	email = sh4gbag913@gmail.com
[submodule]
	recurse = true
[review "review.lineageos.org"]
	username = shagbag913
[core]
	hooksPath = /home/shagbag913/.gitconfigs/hooks
