* {
    padding: 0 5px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    font-family: "Google Sans Medium", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    border-radius: 5px;
    background-color: #17171b;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    border-bottom: 1px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #ffffff;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #ffffff;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {  
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
